.navbar {
  background-color: #fffffc !important;
  box-shadow: none;
  border-bottom: #762de2 2px solid;
  padding: 18px;
}

.navbar-container {
  width: 1300px !important;
}

.navbar-title {
  color: #333;
  margin-bottom: 0px;
}


.navbar-school-name {
 margin-bottom: 0px;
 padding-bottom: 0px;
 margin-left: 2rem !important;
 color: #757575;
 font-weight: 500;
}


.nav-link {
  padding-bottom: 0px;
  color: #333 !important;
  font-weight: 500;
  font-family: "Nunito", sans-serif !important;

  display: inline !important;
}

.nav-link:hover {
  color: #762de2 !important;
}

.navbar-button-login,
.navbar-button-logout {
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  box-shadow: none;
  text-align: center !important;
  display: inline !important;
}

.navbar-button-login {
  border-color: #a876f5 !important;
  color: #a876f5 !important;
}

.navbar-button-logout {
  background-color: #C2D9FF;
  border-color: #C2D9FF;
  color: #333;
}

.navbar-button-logout:focus {
  background-color: none !important;
  border-color: #ffd6d6 !important;
  color: #333 !important;
}
