.math {
  background-color: #b9fbc0;
}
.german {
  background-color: #fde4cf;
}
.english {
  background-color: #f1c0e8;
}
.computerScience {
  background-color: #fbf8cc;
}
.technology {
  background-color: #cfbaf0;
}
.chemistry {
  background-color: #a3c4f3;
}
.physics {
  background-color: #90dbf4;
}
.biology {
  background-color: #8eecf5;
}
.history {
  background-color: #98f5e1;
}
.geography {
  background: #ffcfd2;
}
.art {
  background-color: #ffd6a5;
}
.music {
  background-color: #ffadad;
}
.physicalEducation {
  background-color: #ffbd8e;
}
